/* 
 MAIN BODY CSS */

@font-face {
  font-family: Gotham_Light;
  src: url(../fonts/Gotham/gotham_light.otf) ;
}


@font-face {
  font-family: Gotham_Bold;
  src: url(../fonts/Gotham/gotham_bold.otf) ;
}

@font-face {
  font-family: Gotham_Medium;
  src: url(../fonts/Gotham/gotham_medium.otf) ;
}

:root {
  --background-color-primary: #353534;
  --main-color-primary: #ffffff;
  --main-color-secondary: #AAFFFD;
}


body {
  font-family: Gotham_Light !important ;
  background-color: var(--background-color-primary) !important;
  height: 2000px !important;
}


/* END OF MAIN BODY CSS */














/* NAV css  */
#nav_desktop_no_scroll {
    background-color: var(--background-color-primary);
    color: var(--main-color-primary);
    position: fixed !important;
    top: 0 !important;
    transition: 500ms ease-in-out !important;
    -webkit-box-shadow: 0px 4px 25px -4px rgba(0,0,0,0.6); 
box-shadow: 0px 4px 25px -4px rgba(0,0,0,0.6) !important;
}

#nav_desktop_scroll {
  background-color: var(--background-color-primary);
    color: var(--main-color-primary);
    position: fixed !important;
    top: -200px !important;
    transition: 500ms ease-in-out !important;
}

#nav_desktop_no_scroll.scrolled {
    background-color: var(--background-color-primary);
    color: var(--main-color-primary);
    position: fixed !important;
    top: -200px !important;
    transition: 500ms ease-in-out !important;
}

#nav_desktop_scroll.scrolled {
  background-color: var(--background-color-primary);
    color: var(--main-color-primary);
    position: fixed !important;
    top: 0 !important;
    transition: 500ms ease-in-out !important;
    -webkit-box-shadow: 0px 4px 25px -4px rgba(0,0,0,0.6); 
box-shadow: 0px 4px 25px -4px rgba(0,0,0,0.6) !important;

}
a {
  text-decoration: none !important;
  color: white !important;
}
a#active {
  color: var(--main-color-secondary) !important;
  font-family: Gotham_Bold;
}
a#active::after {
  content: "";
  display: block !important;
  height: 3px !important;
  width: 100% !important;
  background-color: var(--main-color-secondary) !important;
}
a#active:hover::after {
  content: "";
  display: block !important;
  height: 3px !important;
  width: 100% !important;
  background-color: var(--main-color-secondary) !important;
}
a:hover::after {
  content: "";
  display: block !important;
  height: 3px !important;
  width: 100% !important;
  background-color: white !important;
}
a::after {
  content: "";
  display: block !important;
  height: 3px !important;
  width: 0% !important;
  background-color: white !important;
  transition: 500ms;
}
#logo_img_desktop_inner {
  height: 50px !important;
  width: auto !important;
  object-fit: contain;
  padding-left: 1em !important;
}

/* end of navigation css */






@media screen and (max-width: 1049px) {
  

/* 
  NAVBAR SETTTING FOR MOBILE UP AND DOWN
*/
#nav_desktop_no_scroll {
    background-color: var(--background-color-primary) !important;
    color: var(--main-color-primary) !important;
    position: fixed !important;
    z-index: 100 !important;
    top: 0 !important;
    padding: 20px !important;
    width: 100% !important;
    transition: 500ms ease-in-out !important;
    -webkit-box-shadow: 0px 4px 25px -4px rgba(0,0,0,0.6); 
    box-shadow: 0px 4px 25px -4px rgba(0,0,0,0.6) !important;
}


body > #nav_desktop_scroll {
  background-color: var(--background-color-primary);
    color: var(--main-color-primary);
    height: 100px !important;
    position: fixed !important;
    bottom: -200px !important;
    transition: 500ms ease-in-out !important;
}

#nav_desktop_no_scroll.scrolled {
    background-color: var(--background-color-primary);
    color: var(--main-color-primary);
    position: fixed !important;
    top: -200px !important;
    transition: 500ms ease-in-out !important;
}

body >  #nav_desktop_scroll.scrolled {
    background-color: var(--background-color-primary);
    color: var(--main-color-primary);
    position: fixed !important;
    justify-content: start;
    height: 50px !important;
    bottom: 0 !important;
    padding: 0.2em !important;
    transition: 500ms ease-in-out !important;
    -webkit-box-shadow: 0px 4px 25px -4px rgba(0,0,0,0.6); 
box-shadow: 0px 4px 25px -4px rgba(0,0,0,0.6) !important;
}











 #menu_mobile {
  display: flex !important;
  flex-direction: row !important;
  align-items: start !important;
  justify-content: start !important;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left:55%;
  background-color: black !important;
  padding-left: 1em;
  padding-top: 2em;
  font-size: 15px;
  margin-left: 1000px !important;;
 }

 #nav_menu_desktop {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  align-items:flex-start !important;
  justify-content: space-around !important;
  height: 50vw !important;
 }


 #menu_mobile_clicked {
  display: flex !important;
  z-index: 101 !important;
  flex-direction: column !important;
  align-items: start !important;
  justify-content: start !important;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left:55%;
  background-color: black !important;
  padding-left: 1em;
  padding-top: 2em;
  margin-left: 0px !important;
  font-size: 15px;
 }

 #nav_menu_desktop_clicked {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  align-items:flex-start !important;
  justify-content: space-around !important;
  height: 50vw !important;
 }

 #logo_img {
  width: 200px !important;
 }
#logo_img_desktop {
  padding: 0 !important;
}
#logo_img_desktop_inner {
  object-fit: contain !important;
  padding: 0.7em !important;
  padding-left: 1em !important;
}

/* BURGER MENU */
#menu_outer_up {
  position: absolute !important;
  z-index: 100 !important;
  right: 20px !important;
  top: 15px !important;
}
#menu_outer_up_clicked {
  position: absolute !important;
  z-index: 10 !important;
  right: 9px !important;
  top: 10px !important;
}
#menu_outer_up > #burger_menu {
 
  width: 30px !important;
  height:3px !important;
  background-color: var(--main-color-primary) !important;
  transition: 500ms ease-in;
}
#menu_outer_up > #burger_menu::after {
  content: "" !important;
  display: block !important;
  position: relative !important;
  width: 100% !important;
  height: 3px !important;
  background-color: var(--main-color-primary)  !important;
  top: 7px;
  transition: 500ms ease-in;
}

#menu_outer_up > #burger_menu::before {
  content: "" !important;
  display: block !important;
  position:  relative !important;
  width: 100% !important;
  height: 3px !important;
  background-color: var(--main-color-primary)  !important;
  bottom: 10px !important;;
   transition: 500ms ease-in;
}


/* BURGER MENU CLICKED */
#menu_outer_up_clicked > #burger_menu {
  
  width: 30px !important;
  height:3px !important;
  background-color: var(--main-color-secondary) !important;
  transition: 500ms ease-in !important;
  transform: rotate(45deg) !important;
}
#menu_outer_up_clicked > #burger_menu::after {
  content: "" !important;
  display: block !important;
  position: relative !important;
  width: 0% !important;
  height: 3px !important;
  background-color: var(--main-color-secondary)  !important;
  top: 7px !important;
  transition: 500ms ease-in !important;
}

#menu_outer_up_clicked > #burger_menu::before {
  content: "" !important;
  display: block !important;
  position:  relative !important;
  width: 100% !important;
  height: 3px !important;
  background-color: var(--main-color-secondary)  !important;
  bottom: 0px !important;
  transform: rotate(-90deg) !important;
   transition: 500ms ease-in !important;
}





/* second burger menu */

/* BURGER MENU */

#menu_outer_down {
  position: absolute !important;
  z-index: 10 !important;
  right: 20px !important;
  bottom: 12px !important;
}
#menu_outer_down_clicked {
  position: absolute !important;
  z-index: 10 !important;
  right: 20px !important;
  bottom: 20px !important;
  height: fit-content !important;
}
#menu_outer_down > #burger_menu {
  
  width: 30px !important;
  height:3px !important;
  background-color: var(--main-color-primary) !important;
  transition: 500ms ease-in;
}
#menu_outer_down > #burger_menu::after {
  content: "" !important;
  display: block !important;
  position: relative !important;
  width: 100% !important;
  height: 3px !important;
  background-color: var(--main-color-primary)  !important;
  top: 7px;
  transition: 500ms ease-in;
}

#menu_outer_down > #burger_menu::before {
  content: "" !important;
  display: block !important;
  position:  relative !important;
  width: 100% !important;
  height: 3px !important;
  background-color: var(--main-color-primary)  !important;
  bottom: 10px !important;;
   transition: 500ms ease-in;
}


/* BURGER MENU CLICKED */
#menu_outer_down_clicked > #burger_menu {

  width: 30px !important;
  height:3px !important;
  background-color: var(--main-color-secondary) !important;
  transition: 500ms ease-in !important;
  transform: rotate(45deg) !important;
}
#menu_outer_down_clicked > #burger_menu::after {
  content: "" !important;
  display: block !important;
  position: relative !important;
  width: 0% !important;
  height: 3px !important;
  background-color: var(--main-color-secondary)  !important;
  top: 7px !important;
  transition: 500ms ease-in !important;
}

#menu_outer_down_clicked > #burger_menu::before {
  content: "" !important;
  display: block !important;
  position:  relative !important;
  width: 100% !important;
  height: 3px !important;
  background-color: var(--main-color-secondary)  !important;
  bottom: 0px !important;
  transform: rotate(-90deg) !important;
   transition: 500ms ease-in !important;
}

}



/* CUSTOM BOOTSTRAP */

.h-50px {
  height: 30px;
}
.h-5 {
  height: 5%;
}