h1.header {
  padding-top: 5em;
  font-family: Gotham_Bold;
  color: var(--main_color_text);
}
.main_page_contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 3em  ;
}
.form_logo_text {
  display: flex;
  width: 100%;
  padding-top: 6em;
  padding-bottom: 10em;
  align-items: center;
  justify-content: space-around;
  color: var(--main_color_text);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-self: flex-end;
  gap: 3em;;
  
}

label.form_contact {
  display: flex;
  flex-direction: column;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  height: 100px;
}
button.send {
  border: none;
  border-radius: 10px;
  background-color: var(--secondary_color_text);
  color: var(--main_color_bg);
  font-family: Gotham_Book;
  display: inline-block;
  width: fit-content;
  align-self: center;
  padding: 1em 4em;

}
@media screen and (max-width:900px) {
  h1.header {
  padding-top: 5em;
  font-family: Gotham_Bold;
  color: var(--main_color_text);
}
.main_page_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em  ;
}
div.form_logo_text {
  display: flex;
  flex-direction: column !important;
  width: 100%;
  padding-top: 6em;
  padding-bottom: 10em;
  align-items: center;
  justify-content: center;
  color: var(--main_color_text);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 3em;;
  
}

label.form_contact {
  display: flex;
  flex-direction: column;
}
div.form_logo_text img {
  width: 100px !important;
  padding: 1em;
}

}

form#contact_form label {
  display: flex;
  flex-direction: column;
  color: var(--main_color_text);
  font-family: Gotham_Book;
  font-size: 1.2em;
  gap: 1em;
}

form#contact_form label input,
textarea {
  border: none;
  background-color: var(--main_color_text);
  border: 1px solid var(--main_color_bg);
  border: none;
  color: #353534;
}
form#contact_form label input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--secondary_color_text) !important;
  color: white;
  background-color: var(--main_color_bg);
  border: 1px solid var(--main_color_bg);
}

#confirm #confirm_text {
  color: white;
  font-family: Gotham_Medium;
  font-size: 1em;
  
}